/*
Accordion. Sample taken from https://www.w3schools.com/howto/howto_js_accordion.asp
*/
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    /*content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;*/
}

button.accordion.active:after {
    /*content: "\2212";*/
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

td.cat-bar {
  width: 25%;
  vertical-align: top;
}
td.prod-display {
  width: 75%;
  vertical-align: top;
}

.group-container {
  padding-bottom: 20px;
  background-color: #F2F2F2;
}

.m-title {
  background-color: #003DA5;
  /*background-color: #F2F2F2;*/
  color: white;
  font-size: 25px;
  padding-left: 20px;
}

.s1-box-background {
  background-color: #F2F2F2;
  /*display: flex;*/
  /*float: right;*/
  margin: auto;
}
/*.s1-box {
  width: 200px;
  height: 300px;
  display: inline;
  float: right;
}*/
.item-img img {
  width: 130px;
  height: 130px;
}
.s1-box {
  width: 130px;
  height: 180px;
  display: inline-block;
  /*margin: 0 auto;*/
  margin: 8px;
  vertical-align: top;
  background-color: black;
  margin-left: 20px;
  padding-bottom: 20px;
  /*text-align: center;*/
  /*float: right;*/
}
.s1-cat {
  text-align: center;
  font-size: 15px;
  color: white;
  /*background-color: black;*/
}
.extra-box {
  display: none;
}
/*.show-hide {
  margin-bottom: 20px;
}*/
a.display-extra {
  margin-left: 20px;
  /*margin-bottom: 20px;*/
  cursor: pointer;
}

.m-title a {
  text-decoration: none;
  color: inherit;
}
/*.m-title a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}*/

/* - - - product cell display - - - */
.s2-title {
  /*padding-left: 20px;*/
  text-align: center;
}
td.p2-title {
  width: 25%;
  vertical-align: top;
}
td.p2-data {
  width: 75%;
  vertical-align: top;
  padding: 10px;
}

table.item-data-sheet {
  width: 100%;
  font-size: 12px;
  text-align: center;
  /*padding: 5px;*/
  margin: auto;
}
.item-data-sheet th {
  /*width: 100%;*/
  text-align: center;
  background-color: #000;
  color: #fff;
}
.item-data-sheet tr {
  border-bottom: 1px solid #A7A9AC;
}
.item-data-sheet tr:nth-child(odd) {
  background-color: #fff;
}
